<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuaters</title>
</head>



<body>
    <h1>Permohonan memduduki Kuarters</h1>
<ul>
    <li>
        <a href="{% url "kuarters:terima_kasih" %}">Terima Kasih</a>
    </li>


    <li>
        <a href="{% url "kuarters:contact" %}">Hubungi kami</a>
    </li>


    <li>
        <a href="{% url "kuarters:create_permohonan" %}">Buat permohonan baru</a>
    </li>


    <li>
        <a href="{% url "kuarters:senarai_pemohon" %}">Senarai permohonan kuarters</a>
    </li>

</ul>
    
</body>
</html>
